@import "bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
  background-color: green;
}

.carta {
  width: 150px;
  height: 220px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  font-size: 24px;
}

.arriba {
  position: absolute;
  top: 10px;
  left: 10px;
}

.abajo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.valor {
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}

.rojo {
  color: red;
}

.negro {
  color: black;
}
